/doctrine/models/generated/*.php
/doctrine/migrations/*.php

/application/configs/environment.php
/application/configs/application.local.ini
/application/configs/application.local.yaml

.buildpath
.project
.settings/*
