<?xml version="1.0" encoding="utf-8"?>
<configdata>
    <routes>
        <AdminLogin>
            <type>Zend_Controller_Router_Route_Static</type>
            <route>admin</route>
            <defaults>
                <module>admin</module>
                <controller>index</controller>
                <action>index</action>
            </defaults>
        </AdminLogin>
        <AdminLogout>
            <type>Zend_Controller_Router_Route_Static</type>
            <route>admin/logout</route>
            <defaults>
                <module>admin</module>
                <controller>index</controller>
                <action>logout</action>
            </defaults>
        </AdminLogout>
        <AdminProfile_PeerIndex>
            <type>Zend_Controller_Router_Route_Static</type>
            <route>admin/profile_peer/index</route>
            <defaults>
                <module>admin</module>
                <controller>profile_peer</controller>
                <action>index</action>
            </defaults>
        </AdminProfile_PeerIndex>
        <AdminProfile_VenueIndex>
            <type>Zend_Controller_Router_Route_Static</type>
            <route>admin/profile_venue/index</route>
            <defaults>
                <module>admin</module>
                <controller>profile_venue</controller>
                <action>index</action>
            </defaults>
        </AdminProfile_VenueIndex>
        <AdminLayoutIndex>
            <type>Zend_Controller_Router_Route_Static</type>
            <route>admin/layout/index</route>
            <defaults>
                <module>admin</module>
                <controller>layout</controller>
                <action>index</action>
            </defaults>
        </AdminLayoutIndex>
        <AdminBillingIndex>
            <type>Zend_Controller_Router_Route_Static</type>
            <route>admin/billing/index</route>
            <defaults>
                <module>admin</module>
                <controller>billing</controller>
                <action>index</action>
            </defaults>
        </AdminBillingIndex>
        <AdminCalendarIndex>
            <type>Zend_Controller_Router_Route_Static</type>
            <route>admin/calendar/index</route>
            <defaults>
                <module>admin</module>
                <controller>calendar</controller>
                <action>index</action>
            </defaults>
        </AdminCalendarIndex>            
        <AdminBannerIndex>                
            <type>Zend_Controller_Router_Route_Static</type>
            <route>admin/banner</route>
            <defaults>
                <module>admin</module>
                <controller>banner</controller>
                <action>index</action>
            </defaults>
        </AdminBannerIndex>
        <AdminPromotionalCodeIndex>
            <type>Zend_Controller_Router_Route_Static</type>
            <route>admin/promotional-code/index</route>
            <defaults>
                <module>admin</module>
                <controller>promotional-code</controller>
                <action>index</action>
            </defaults>
        </AdminPromotionalCodeIndex>
        <AdminMailTemplatesIndex>
            <type>Zend_Controller_Router_Route_Static</type>
            <route>admin/mail-templates/index/</route>
            <defaults>
                <module>admin</module>
                <controller>mail-templates</controller>
                <action>index</action>
            </defaults>
        </AdminMailTemplatesIndex>
        <AdminStaticContentsIndex>
            <type>Zend_Controller_Router_Route_Static</type>
            <route>admin/static-contents/index/</route>
            <defaults>
                <module>admin</module>
                <controller>static-contents</controller>
                <action>index</action>
            </defaults>
        </AdminStaticContentsIndex>
    </routes>
</configdata>