<?xml version="1.0" encoding="utf-8"?>

<configdata>
    <acl_availability>
        
        <!--<resource module="user" controller="profile" action="index">
            <role>1</role>
            <role>10</role>
        </resource>-->
        <resource module="user" controller="profile_peer" action="index">
            <role>1</role>
            <role>10</role>
        </resource>
        <resource module="user" controller="profile_peer" action="preferences">
            <role>1</role>
        </resource>
        <resource module="user" controller="profile_venue" action="edit">
            <role>10</role>
        </resource>
        <resource module="user" controller="profile" action="load-pict">
            <role>1</role>
            <role>10</role>
        </resource>
        <resource module="user" controller="profile" action="upload-video">
            <role>1</role>
            <role>10</role>
        </resource>
        <resource module="user" controller="profile" action="review">
            <role>1</role>
            <role>10</role>
        </resource>
        <resource module="user" controller="profile" action="set-background">
            <role>1</role>
            <role>10</role>
        </resource>
        <resource module="user" controller="profile_venue" action="coupons">
            <role>10</role>
        </resource>
        <resource module="user" controller="profile_venue" action="specials">
            <role>10</role>
        </resource>
        <resource module="user" controller="profile_venue" action="business-hours">
            <role>10</role>
        </resource>
        <resource module="user" controller="profile_venue" action="banner">
            <role>10</role>
        </resource>
        
        <resource module="user" controller="banner" action="index">
            <role>10</role>
        </resource>
        <resource module="user" controller="banner" action="get-city-rate">
            <role>10</role>
        </resource>
        
        <resource module="user" controller="network" action="request-peer">
            <role>1</role>
            <role>10</role>
        </resource>
        <resource module="user" controller="network" action="request-venue">
            <role>1</role>
            <role>10</role>
        </resource>
        
        <resource module="user" controller="blog" action="index">
            <role>1</role>
            <role>10</role>
        </resource>
        <resource module="user" controller="blog" action="add">
            <role>1</role>
            <role>10</role>
        </resource>
        <resource module="user" controller="blog" action="edit">
            <role>1</role>
            <role>10</role>
        </resource>
        <resource module="user" controller="blog" action="delete">
            <role>1</role>
            <role>10</role>
        </resource>
        <resource module="user" controller="blog" action="view">
            <role>1</role>
            <role>10</role>
        </resource>
        
        <!--<resource module="user" controller="map" action="index">
            <role>1</role>
            <role>10</role>
        </resource>-->
        
        <resource module="user" controller="news-feed" action="send-venue">
            <role>1</role>
            <role>10</role>
        </resource>
        
        <resource module="user" controller="network" action="confirm">
            <role>1</role>
            <role>10</role>
        </resource>
        <resource module="user" controller="network" action="decline">
            <role>1</role>
            <role>10</role>
        </resource>
         <resource module="calendar" controller="index" action="index">
            <role>1</role>
            <role>10</role>
        </resource>
         <resource module="calendar" controller="index" action="fetchevents">
            <role>1</role>
            <role>10</role>
        </resource>        
         <resource module="calendar" controller="event" action="index">
            <role>1</role>
            <role>10</role>
        </resource>
         <resource module="calendar" controller="event" action="edit">
            <role>1</role>
            <role>10</role>
        </resource>   
         <resource module="calendar" controller="event" action="delete">
            <role>1</role>
            <role>10</role>
        </resource>   
         <resource module="calendar" controller="event" action="share">
            <role>1</role>
        </resource>   
         <resource module="calendar" controller="event" action="unshare">
            <role>1</role>
        </resource>   
         <resource module="calendar" controller="event" action="notification">
            <role>10</role>
        </resource>                                                            
    </acl_availability>
</configdata>